<mat-card
  class="rich-text-editor"
  [class.disabled]="disabled"
  [class.readonly]="readonly"
>
  <!-- Toolbar -->
  <mat-toolbar *ngIf="showToolbar" color="primary" class="toolbar">
    <ng-container *ngFor="let button of toolbarButtons">
      <mat-divider
        *ngIf="button.command === 'separator'"
        vertical
      ></mat-divider>
      <button
        *ngIf="button.command !== 'separator'"
        mat-icon-button
        type="button"
        [class.active]="isCommandActive(button.command)"
        [disabled]="disabled || readonly"
        [matTooltip]="button.title"
        (click)="executeCommand(button.command)"
        aria-label="button.title"
      >
        <mat-icon>{{ button.icon }}</mat-icon>
      </button>
    </ng-container>
  </mat-toolbar>

  <!-- Editor Content Area -->
  <mat-card-content class="editor-container">
    <div
      #editor
      class="editor-content"
      [style.height]="height"
      [contentEditable]="!disabled && !readonly"
      [attr.data-placeholder]="placeholder"
      (input)="onEditorInput()"
      (focus)="onEditorFocus()"
      (blur)="onEditorBlur()"
      (keydown)="onEditorKeyDown($event)"
    ></div>
  </mat-card-content>

  <!-- Character/Word Count Footer -->
  <mat-card-actions *ngIf="showToolbar" align="end">
    <span class="word-count mat-body-2"
      >{{ getContent().length }} characters</span
    >
  </mat-card-actions>
</mat-card>
