.color-picker {
  width: 100%;
  max-width: 300px;
  position: relative;
}

.form-control-color {
  opacity: 0;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999999999;
}
