<nav
  mat-tab-nav-bar
  [tabPanel]="tabPanel"
  color="primary"
  backgroundColor="primary"
>
  <a mat-tab-link routerLink="/" [active]="router.url === '/'">Home</a>
  <a mat-tab-link routerLink="/play" [active]="router.url.startsWith('/play')">
    Play
  </a>
  <a
    mat-tab-link
    routerLink="/rich-text-editor"
    [active]="router.url.startsWith('/rich-text-editor')"
  >
    Rich Text Editor
  </a>
  <a
    mat-tab-link
    routerLink="/multi-select"
    [active]="router.url.startsWith('/multi-select')"
  >
    Multi Select
  </a>
</nav>
<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>
